.errorSummary {
  cursor: pointer;
  font-weight: var(--p-font-weight-semibold);
}

.errorStack {
  font-size: var(--p-font-size-300);
  padding: var(--p-space-400);
  background: var(--p-color-bg-surface-secondary);
  border-radius: var(--p-border-radius-200);
  overflow: auto;
}
